.modula .modula-importer-row.hide,
.modula .select-all-wrapper.hide{
    display: none;
}

.imported-check {
    display:inline-block;
    margin-left:10px;
}


.imported-check:before {
    font-size: 20px;
    color: #00b894;
}

.modula-importer-checkbox-wrapper {
    margin-bottom:10px;
}

.modula-importer-gallery-status {
    color:blue;
}