.modula .modula-importer-row.hide,
.modula .select-all-wrapper.hide{
    display: none;
}

.imported-check {
    display:inline-block;
    width:16px;
    height:16px;
    border-radius: 8px;
    font-size:14px;
    background:#00b894;
    color:#fff;
    margin-left:10px;
    line-height: 16px;
}